body {
    --backgound-header: #252527;
    --text-color-header: #FFF;
    --border-color-header: #007dc2;
    --color-facebook: #1877F2;
    --color-x: #FFFFFF;
    --color-youtube: #FF0000;
    --color-instagram: #E1306C;

    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-s: 0.75rem;
    --spacing-m: 1rem;
    --spacing-l: 1.5rem; 
    --spacing-xl: 2rem;  
    --spacing-xxl: 2.5rem;
}